<div class="container mt-4">
  <div class="h3 fw-bold">
    Hi Thandi,<br />
    Welcome to Easy Beauty!
  </div>
  <small>6391 Elgin St. Celina, Delaware 1098</small>
  <div
    class="d-flex gap-2 py-3 px-1"
    style="max-width: 100vw; overflow-x: auto"
  >
    <div
      class="d-flex align-items-center justify-content-center rounded rounded-pill border border-2"
      style="height: 80px; min-width: 80px"
    >
      Nails
    </div>
    <div
      class="d-flex align-items-center justify-content-center rounded-pill border border-2"
      style="height: 80px; min-width: 80px"
    >
      Hair
    </div>
    <div
      class="d-flex align-items-center justify-content-center rounded-pill border border-2"
      style="height: 80px; min-width: 80px"
    >
      Make up
    </div>
    <div
      class="d-flex align-items-center justify-content-center rounded-pill border border-2"
      style="height: 80px; min-width: 80px"
    >
      Eyelash
    </div>
    <div
      class="d-flex align-items-center justify-content-center rounded-pill border border-2"
      style="height: 80px; min-width: 80px"
    >
      Haircuts
    </div>
    <div
      class="d-flex align-items-center justify-content-center rounded-pill border border-2"
      style="height: 80px; min-width: 80px"
    >
      nails
    </div>
  </div>
  <div class="mt-4">
    <div class="d-flex justify-content-between mb-3">
        <strong>Near you</strong>
        <a href="#">View All</a>
    </div>
    
    <div class="d-flex flex-column gap-2">
      <div class="d-flex align-items-center p-1 rounded-2 item  gap-3">
        <div
          class="  overflow-hidden"
          style="height: 80px; width: 120px"
        >
          <img
            style="object-fit: cover"
            width="100%"
            height="100%"
            src="../../../assets/style_abstract_dragon_74494_1920x1080.jpg"
            alt=""
          />
        </div>
        <div class="">
          <div class="h5 fw-bold">Name Surname</div>
          <small>location</small>
          <div class="d-flex justify-content-between my-2">
            <span>ratings</span>
            5 km
          </div>
        </div>
      </div>
      <div class="d-flex align-items-center p-1 rounded-2 item  gap-3">
        <div
          class=" overflow-hidden"
          style="height: 80px; width: 120px"
        >
          <img
            style="object-fit: cover"
            width="100%"
            height="100%"
            src="../../../assets/style_abstract_dragon_74494_1920x1080.jpg"
            alt=""
          />
        </div>
        <div class="">
          <div class="h5 fw-bold">Name Surname</div>
          <small>location</small>
          <div class="d-flex justify-content-between my-2">
            <span>ratings</span>
            <span>5 km</span>
          </div>
        </div>
      </div>
      <div class="d-flex align-items-center p-1 rounded-2 item  gap-3">
        <div
          class=" overflow-hidden"
          style="height: 80px; width: 120px"
        >
          <img
            style="object-fit: cover"
            width="100%"
            height="100%"
            src="../../../assets/style_abstract_dragon_74494_1920x1080.jpg"
            alt=""
          />
        </div>
        <div class="">
          <div class="h5 fw-bold">Name Surname</div>
          <small>location</small>
          <div class="d-flex justify-content-between my-2">
            <span>ratings</span>
            5 km
          </div>
        </div>
      </div>
      <div class="d-flex align-items-center p-1 rounded-2 item  gap-3">
        <div
          class=" overflow-hidden"
          style="height: 80px; width: 120px"
        >
          <img
            style="object-fit: cover"
            width="100%"
            height="100%"
            src="../../../assets/style_abstract_dragon_74494_1920x1080.jpg"
            alt=""
          />
        </div>
        <div class="">
          <div class="h5 fw-bold">Name Surname</div>
          <small>location</small>
          <div class="d-flex justify-content-between my-2">
            <span>ratings</span>
            5 km
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
