<div class="p-list">
    <div class="p-list-item">
        <img src="../../../../assets/architecture-building-chairs-2034335.jpg" alt="" class="p-list-img">
        <div class="p-list-titles">
            <h1>Hotels</h1>
            <h2>233 hotels</h2>
        </div>
    </div>
    <div class="p-list-item">
        <img src="../../../../assets/architecture-building-chairs-2034335.jpg" alt="" class="p-list-img">
        <div class="p-list-titles">
            <h1>Motels</h1>
            <h2>2,100 Motels</h2>
        </div>
    </div>
    <div class="p-list-item">
        <img src="../../../../assets/architecture-building-chairs-2034335.jpg" alt="" class="p-list-img">
        <div class="p-list-titles">
            <h1>B&B</h1>
            <h2>140 B&B's</h2>
        </div>
    </div>
    <div class="p-list-item">
        <img src="../../../../assets/architecture-building-chairs-2034335.jpg" alt="" class="p-list-img">
        <div class="p-list-titles">
            <h1>Farm House</h1>
            <h2>993 Farm Houses</h2>
        </div>
    </div>
    <div class="p-list-item">
        <img src="../../../../assets/architecture-building-chairs-2034335.jpg" alt="" class="p-list-img">
        <div class="p-list-titles">
            <h1>Hotels</h1>
            <h2>4595 hotels</h2>
        </div>
    </div>
</div>
