<div class="featured">
    <div class="featured-item">
        <img  src="../../../../assets/architecture-building-chairs-2034335.jpg" alt="" class="featured-img">
        <div class="featured-titles">
            <h1>Dublin</h1>
            <h2>123 properties</h2>
        </div>
    </div>
    <div class="featured-item">
        <img  src="../../../../assets/architecture-building-chairs-2034335.jpg" alt="" class="featured-img">
        <div class="featured-titles">
            <h1>Durban</h1>
            <h2>323 properties</h2>
        </div>
    </div>
    <div class="featured-item">
        <img  src="../../../../assets/architecture-building-chairs-2034335.jpg" alt="" class="featured-img">
        <div class="featured-titles">
            <h1>Cape Town</h1>
            <h2>93 properties</h2>
        </div>
    </div>
    <div class="featured-item">
        <img  src="../../../../assets/architecture-building-chairs-2034335.jpg" alt="" class="featured-img">
        <div class="featured-titles">
            <h1>London</h1>
            <h2>12 properties</h2>
        </div>
    </div>
    <div class="featured-item">
        <img  src="../../../../assets/architecture-building-chairs-2034335.jpg" alt="" class="featured-img">
        <div class="featured-titles">
            <h1>Dublin</h1>
            <h2>23 properties</h2>
        </div>
    </div>
</div>
