<div class="footer">
  <div class="f-lists">
    <ul class="f-list">
      <li class="f-list-item">Countries</li>
      <li class="f-list-item">Regions</li>
      <li class="f-list-item">Cities</li>
      <li class="f-list-item">Districts</li>
      <li class="f-list-item">Airports</li>
      <li class="f-list-item">Hotels</li>
    </ul>
    <ul class="f-list">
      <li class="f-list-item">Countries</li>
      <li class="f-list-item">Regions</li>
      <li class="f-list-item">Cities</li>
      <li class="f-list-item">Districts</li>
      <li class="f-list-item">Airports</li>
      <li class="f-list-item">Hotels</li>
    </ul>
    <ul class="f-list">
      <li class="f-list-item">Countries</li>
      <li class="f-list-item">Regions</li>
      <li class="f-list-item">Cities</li>
      <li class="f-list-item">Districts</li>
      <li class="f-list-item">Airports</li>
      <li class="f-list-item">Hotels</li>
    </ul>
    <ul class="f-list">
      <li class="f-list-item">Countries</li>
      <li class="f-list-item">Regions</li>
      <li class="f-list-item">Cities</li>
      <li class="f-list-item">Districts</li>
      <li class="f-list-item">Airports</li>
      <li class="f-list-item">Hotels</li>
    </ul>
    <ul class="f-list">
      <li class="f-list-item">Countries</li>
      <li class="f-list-item">Regions</li>
      <li class="f-list-item">Cities</li>
      <li class="f-list-item">Districts</li>
      <li class="f-list-item">Airports</li>
      <li class="f-list-item">Hotels</li>
    </ul>
  </div>
  <div class="f-text">Copyright &copy; 2024 Budy Booking</div>
</div>
