<div class="fp">
  <div class="fp-item">
    <img
      src="../../../../assets/architecture-building-chairs-2034335.jpg"
      alt=""
      class="fp-img"
    />
    <span class="fp-name">Aparthotel Stare Miasto</span>
    <span class="fp-city">Madrid</span>
    <span class="fp-price">Starting from R500</span>
    <div class="fp-rating">
      <a mat-button>8.9</a>
      <span>Excellent</span>
    </div>
  </div>
  <div class="fp-item">
    <img
      src="../../../../assets/architecture-building-chairs-2034335.jpg"
      alt=""
      class="fp-img"
    />
    <span class="fp-name">Aparthotel Stare Miasto</span>
    <span class="fp-city">Madrid</span>
    <span class="fp-price">Starting from R500</span>
    <div class="fp-rating">
      <a mat-button>8.9</a>
      <span>Excellent</span>
    </div>
  </div>
  <div class="fp-item">
    <img
      src="../../../../assets/architecture-building-chairs-2034335.jpg"
      alt=""
      class="fp-img"
    />
    <span class="fp-name">Aparthotel Stare Miasto</span>
    <span class="fp-city">Madrid</span>
    <span class="fp-price">Starting from R500</span>
    <div class="fp-rating">
      <a mat-button>8.9</a>
      <span>Excellent</span>
    </div>
  </div>
  <div class="fp-item">
    <img
      src="../../../../assets/architecture-building-chairs-2034335.jpg"
      alt=""
      class="fp-img"
    />
    <span class="fp-name">Aparthotel Stare Miasto</span>
    <span class="fp-city">Madrid</span>
    <span class="fp-price">Starting from R500</span>
    <div class="fp-rating">
      <a mat-button>8.9</a>
      <span>Excellent</span>
    </div>
  </div>
</div>
