<div class="search-item">
  <img
    src="../../../../assets/architecture-building-chairs-2034335.jpg"
    alt=""
    class="si-img"
  />
  <div class="si-desc">
    <h1 class="si-title">Tower Street Apartments</h1>
    <span class="si-distance">500m from center</span>
    <span class="si-taxi-op">Free airport taxi</span>
    <span class="si-subtitle"> Studio Apartment with Air conditing </span>
    <span class="si-features">
        Entire studio + 1 bathroom + 21m <sup>2</sup> + 1full bed
    </span>
    <span class="si-cancel-op">Free cancellation</span>
    <span class="si-cancel-op-subtitle"
      >You can cancel later, so lock in this great price today!</span
    >
  </div>
  <div class="si-details">
    <div class="si-rating">
        <span>Excellent</span>
        <button>8.9</button>
    </div>
    <div class="si-detail-texts">
        <span class="si-price">R409</span>
        <span class="si-tax-op">Includes taxes and fees</span>
        <button mat-button class="si-check-btn" (click)="seeAvailability()">See availability</button>
    </div>
  </div>
</div>
