/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.active {
  background-color: #fff;
}

.spacer {
  flex: 1;
}

.budy-container{
    width: 100% !important;
    max-width: 1024px !important;
    margin: 0 auto;
}